name: Cypress API Tests

on: [push]

jobs:
  cypress-api-tests:
    runs-on: ubuntu-latest
    container:
      image: cypress/browsers:node-22.14.0-chrome-133.0.6943.53-1-ff-135.0-edge-133.0.3065.59-1
      options: --user 1001
    steps:
      - name: Get code
        uses: actions/checkout@v4.2.2

      - name: Install dependencies
        run: npm install

      - name: Run E2E tests
        run: npx cypress run
